 .h2ti{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    margin: 5px;
}
.title{
    margin: 30px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;

}
.fo1{
    height: 20px;
    width: 20px;
}
.fo2{
    height: 40px;
    width: 40px;
}
.list-inline{
   display: flex;
   justify-content: flex-start;
   list-style-type: none;
}
.nav-item{
    margin-top: 0;
    margin-right: 50px;
    text-align: center;
}
.list-inline-item{
    margin-top: 15px;
}
.col11{
    padding: 20px;
}

.mapdiv1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header1 {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Texto en color blanco */
  padding: 10px; /* Relleno interno de 15 píxeles */
  text-align: center; /* Texto centrado */
  font-size: 24px;
}

.content1 {
  padding: 20px; /* Relleno interno de 20 píxeles */
  text-align: left;
}

.title1 {
  font-size: 25px; /* Tamaño de fuente de 18 píxeles */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 10px; /* Margen inferior de 10 píxeles */
  margin-top: 10px;
  text-align: center;
}

.subtitle {
  font-size: 15px; /* Tamaño de fuente de 18 píxeles */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 5px; /* Margen inferior de 10 píxeles */
  margin-top: 5px;
}










