.leaflet-control-wms-legend
{
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: left;
    background-color: #FFFFFF;
}

.leaflet-control-wms-legend:hover
{
    background-color: #F4F4F4;
}

.wms-legend-container {
    margin-bottom: 5px; /* Espacio entre leyendas */
}

.wms-legend-label {
    margin-bottom: 5px; /* Espacio entre el ícono y el texto */
}

.wms-legend {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px; /* Ajusta según sea necesario */
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

/* Estilos para leyenda colapsada */
.leaflet-control-wms-legend.wms-legend-collapsed .wms-legend-container {
    display: none; /* Oculta las leyendas cuando la leyenda está colapsada */
}

.expand-button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1px;
}




